.table{
    margin-bottom: 0%;
    border-radius: 5px;
}
.card{
    margin: 5%;
}
thead{
    background-color: gray;
    color: white;

}

tr{
    margin: 0% 2%;
}
button{
    background-color: transparent;
    border-color: transparent;
}